*.user
src/ui_*.h
Bin/
OsgFile/
data/
Resouce/
vessel_viewer/debug/
vessel_viewer/release/
Quazip/release/
Quazip/release/qmake
Quazip/debug/
Utility/debug/
Utility/Release/
Utility/release/
*.sdf
*.opensdf
.vs/
*.qmake.stash
vessel_viewer/ui_*
build
build_*
